<a href="https://colab.research.google.com/github/lsp-sandeep/scaler_dsml_practice/blob/main/Week_2_Python_Functional_OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def func(c, d):
    return c,d


x = lambda: func(1,2)

x()

(1, 2)

In [ ]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())

(1, 4)

In [ ]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")

0 2 4 6 8

In [ ]:
array  = [1, -1, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)
print(list(result))

[-1]

In [ ]:
list(filter(lambda x:x<0, array))

[-1]

In [ ]:
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3*x
print(result(a))

[2, [2, 3, 2, 3], 8, 10]

In [ ]:
(lambda x: print(x))([2,3])

[2, 3]

In [ ]:
2*a

[1, [2, 3], 4, 5, 1, [2, 3], 4, 5]

In [ ]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : name.lower() in x or name.upper() in x, ids))
print(result)

['samJohnson@iit.com', 'SAM@harvard.com']

In [ ]:
arr = ["php", "w3r", "python", "aaa", "java"]
result  = list( filter( lambda x: (x =="".join( reversed(x))), arr))

result

['php', 'aaa']

In [ ]:
list(reversed("tr"))

['r', 't']

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [ ]:
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4

In [ ]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [ ]:
list(sentence)

['a', 'b', 'c', ' ', 'c', 'd', 'e', ' ', 'd', 'e', 'f']

In [ ]:
def decorate(func):
    def wrapper(words):
        print("----------------")
        func(words)
        print("----------------")
    return wrapper

def print_hello():
    print("Hello")

def print_any_string(words):
    print(words)

decorated_print_hello = decorate(print_hello)

decorated_print_any_string = decorate(print_any_string)

decorated_print_any_string("Cool")

----------------
Cool
----------------

In [ ]:
class Dog1:

    def class_method(a, b):
        print(a, b)
    
    def instance_method(self, a, b):
        self.cool = "buy"
        self.b = a

In [ ]:
d1 = Dog1()

d1.class_method(1,1)

1

In [ ]:
class Dog2:

    def class_method1(a, b):
        print(a, b)

In [ ]:
d2 = Dog2()

d2.class_method1(1,2)

TypeError: ignored

In [ ]:
class Dog:
    def inst_method(a,b):
        a.var = b

    def class_method(a,b):
        print(a,b)

In [ ]:
d = Dog()

d.inst_method(1)


Dog.class_method(d,2), d.var

<__main__.Dog object at 0x7f7f4abf99d0> 2

(None, 1)

In [ ]:
d.class_method(1)

<__main__.Dog object at 0x7f7f4abf99d0> 1

In [ ]:
class football:
    final_res= 'lose'
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'
match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# create Objects
s1 = Student('Emma', 10)#blank1
s1.subject_name = 'Machine Learning' #blank2

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [ ]:
class solution:
  def initial(self,sets):
    return self.final(sets)
 
  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [ ]:
class Employee:

    def __init__(self, name, val):

        self._name=name

        self._salary=val

e1=Employee("Rahul",200)

e1._salary = 300

print(e1._salary)

300

In [ ]:
class Employee:

    def __init__(self, name, val):

        self.__name=name

        self.__salary=val

e1=Employee("Rahul",200)

print(e1.__salary)

AttributeError: ignored

In [ ]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
class Student(SchoolMember):
    def __init__(self, name, percentage):
        super().__init__(name)
        self.percentage = percentage
class Staff(SchoolMember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary
class Teacher(Staff):
    def __init__(self, name, salary, subject):
        super().__init__(name)
        super().__init__(name, salary)
        self.subject = subject

In [ ]:
t = Teacher("sandeep", 100, "Math")

t.name, t.salary, t.subject

TypeError: ignored

In [ ]:
class Dog:
    kind = 'libra'
    def __init__(self, name, height):
        self.name = name
        self.height = height
    def __str__(self):
        return f" kind : {self.kind}, name : {self.name}, height : {self.height}"
    def __add__(self, other):
        return Dog(self.name + " " + other.name, self.height + other.height)

In [ ]:
d1 = Dog("name1", 55)
d2 = Dog("name2", 56)
d3 = Dog("name3", 57)

In [ ]:
(d1 + d2 + d3).height

168

In [ ]:
class Test:
    def __init__(self, testie):
        self.testie = testie

t = Test(1)

t.__dict__

{'testie': 1}

In [ ]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

print(obj.quantity+len(obj.__dict__))

13

In [ ]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks=marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1= Student(34,'A')
student1.age=17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

In [ ]:
student1.display()

Roll: 34 Marks: A

In [ ]:
class Player:
  # class variables
  club = 'United'
  sport = 'Football'

  def __init__(self, name):
    # Instance variable
    self.name = name

  def show(self):
    print('Name:', self.name, 'Club:', self.club, 'Sports:', self.sport, end=" ")

p1 = Player('Sanjay')
p1.club = 'Real Madrid'
p1.show()

p2 = Player('Ravi')
p2.sport = 'Tennis'
p2.show()

Name: Sanjay Club: Real Madrid Sports: Football Name: Ravi Club: United Sports: Tennis

In [ ]:
class Test:
    __private_parent = 2
    _protected_parent = 1

    def __init__(self, var):
        self.var_p = var

    def __str__(self):
        return f"private: {self.__private_parent}, protected: {self._protected_parent}"

class TestChild(Test):
    __private_child = 4
    _protected_child = 3

    def __init__(self, var_p, var_c):
        self.var_c = var_c
        Test.__init__(self, var_p)

    def __str__(self):
        return f"private: {self.__private_child}, protected: {self._protected_child}"

    def parent(self):
        return print(f"protected: {self._protected_parent}") #private: {self.__private_parent},
    
    def print_parent(self):
        return print(Test._Test__private_parent)

t = Test(1)
tc = TestChild(2, 3)

print(t)
print(tc)
tc.parent()
tc.print_parent()

private: 2, protected: 1
private: 4, protected: 3
protected: 1
2

In [ ]:
t.__dict__

{'var_p': 1}

In [ ]:
tc.__dict__

{'var_c': 3, 'var_p': 2}

In [ ]:
class A:
   def one(self):
       return self.two()
   def two(self):
       return 'A'
class B(A):
   def two(self):
       return 'B'
obj= B()
print(A.two(obj))

A

In [ ]:
sum([True, False, True])

2

In [ ]:
"e" not in "aeiou"

False

In [ ]:
class Fibonacci:
    def __init__(self, a = 0, b = 1):
        self.init_1 = a
        self.init_2 = b
        self.__a = a
        self.__b = b

    def __iter__(self):
        self.__n = 0
        return self

    def __next__(self):
        self.__a, self.__b = self.__b, (self.__a + self.__b)
        self.__n += 1

        if self.__n <= 1:
            return (self.init_1, self.init_2), self.__b
        else:
            return self.__b

In [ ]:
fib = Fibonacci()
fib_iter = iter(fib)

for i in range(10):
    print(next(fib_iter))

((0, 1), 1)
2
3
5
8
13
21
34
55
89

In [ ]:
for i in range(10):
    print(next(fib_iter))

144
233
377
610
987
1597
2584
4181
6765
10946

In [ ]:
fib.n = 0

for i in range(10):
    print(next(fib_iter))

17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269

In [ ]:
del fib.n

In [ ]:
fib.n

AttributeError: ignored

In [ ]:
a = range(1,10)

next(a)

TypeError: ignored